.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    width: 100svw;
    background-color: #3c3c3c;
    color: #e1971f;
}